@(user: securesocial.core.BasicProfile)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
<html>
    <head>
        <link href="http://apps.bdimg.com/libs/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class = "container">
        <p>Welcome @user.firstName,</p>

        <p>
            Your new account is ready.
            Click <a href="@env.routes.loginPageUrl">here</a> to log in</p>
        </div>
        <div class="footer">
            <div class="container">
                <p class="text-muted">This is a nice footer.</p>
            </div>
        </div>
            <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
        <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>

            <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
        <script src="http://apps.bdimg.com/libs/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    </body>
</html>